body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  button {
    top: 172px !important;
    position: absolute;
}
}

@media screen and (max-width: 375px) {
  button { top: 216px !important;RIGHT: 22PX !important;} 
.ag-paging-panel>*{margin: 0px !important; }
.ag-paging-panel { justify-content: center !important;}

}